body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.logo-img {
    height: 90px;
}

.banner-img {
    height: 350px;
    width: 100%;
}

.banner {
    object-fit: cover;
}

.team {
    width: 50%;
}

.team-img {
    height: 280px;
    border-radius: 5px;
    object-fit: cover;
}

.about {
    display: flex;
    margin: 10px auto;
    padding: 9px;
    max-width: 800px;

}

.about-data {
    width: 50%;
    padding: 9px;
}

.jobs {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.apply {
    float: right;
}

.location {
    color: gray;
}

.jobrole {
    margin-bottom: 3px;
}

.footer {
    background-color: ghostwhite;
    list-style-type: none;
    text-align: center;
    padding:20px;
}

.footer-list li {
    display: inline;
    margin:9px;
   
}

.copyright{
    margin-top:8px;
}
